*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
    color:white;
}
#showcase{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 13rem;
    margin:10px 0px;
    border: 0 !important;
}

.btn{
    border-radius: 0% !important
}